 * {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav styels */
.nav-container{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.137);
}
.nav-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.nav-left{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
}
.nav-right{
  display: flex;
}
.nav-btn{
  background-color: transparent;
  border: none;
  margin-right: 15px;
  font-size: 1rem;
}
.nav-btn-follow{
  background-color:  rgba(11, 2, 35, 0.1);
  border: none;
  border-radius: 6px;
  padding: 7px 15px;
  margin: 0px;
}
/* header styles  */
.header-container{
  background-image: url(images/Vector\ 2.png),url(images/Group.png);
  background-repeat: no-repeat;
}
.header-main{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header-left{
  width: 50%;
}
.header-left-description{
  line-height: 40px;
}
.goat{
  font-size: 3rem;
  font-weight: 800;
  background-image: linear-gradient(#F948B2,#8758F1); 
  background-clip: text ;
  color: transparent;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.301) ;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-right{
  width: 50%;
}
.header-right img {
  width: 100%;
}
.header-btn-1 , .header-btn-2{
  border: none;
  border-radius: 23px;
  padding: 10px 30px;
  margin-top: 20px;
}

.header-btn-1{
  background-color: rgba(255, 66, 165, 1);
  color: white;
}
.header-btn-2{
  background-color: rgba(78, 197, 247, 1);
  color: white;
}
/* we are gamer */
.gamer-section{
  background-image: linear-gradient(rgba(255, 66, 165, 0.03),rgba(255, 66, 165, 0.03));
}
.gamer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.gamer-left{
  width: 50%;
}
.gamer-left img{
  width: 100%;
}
.gamer-right{
  width: 50%;
  text-align: end;
  margin-bottom: 20px;
}
.gamer-title{
  font-size: 2rem;
  background-image: linear-gradient(#F948B2,#8758F1); 
  background-clip: text ;
  color: transparent;
 margin-top: -10px;
}
.gamer-description{
  margin-top: 20px;
  line-height: 20px;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgba(83, 76, 100, 1);
}
.gamer-btn{
  border: none;
  border-radius: 25px;
  padding: 9px 25px ;
  background-image: linear-gradient(rgba(255, 66, 165, 1),rgba(255, 66, 165, 1));
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.purpose{
  color:rgba(83, 76, 100, 1);
}
.theory{
 color: rgba(83, 76, 100, 1);
 font-weight: 700;
 font-size: 1.2rem;
 margin-top: 5px;
}
/* online game styles */
.online-section{
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
.online-game-title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.online-gamer-description{
 text-align: center;
 color: rgba(83, 76, 100, 1);
 font-size: 0.7rem;
 margin-bottom: 30px;
}
.online-game-container{
  display: flex;
  justify-content: space-between;
}
.online-game{
  width: 235px;
  height: 200px;
}
.online-game img{
 width: 100%;
}
.play-game{
  filter: brightness(45%);
}
.parents{
  position: relative;
}
.child{
  position: absolute;
  margin-top: -150px;
  margin-left: 80px;
 color: rgba(255, 66, 165, 1);
 text-align: center;
 font-size: 1rem;
}
.child i{
  color: whitesmoke;
  margin-bottom: 10px;
}
.online-game-text{
  color: rgba(83, 76, 100, 1);
  font-size: 0.7rem;
  margin-top: 10px;
}
/* category games styles */
.category-title{
  background-image: linear-gradient(#F948B2,#8758F1); 
  background-clip: text ;
  color: transparent;
}
.category-left p{
 color: rgba(83, 76, 100, 1);
 font-size: 0.7rem;
 margin-top: 10px;
 line-height: 20px;
 text-align: end;
}
.category-games{
  margin-top: 150px;
}
.category-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1000px;
  margin: 0 auto 100px;
  float: right;
}
.category-right{
  width: 55%;
}
.category-right img {
  width: 100%;
}
.category-left{
  width: 20%;
}
.category-left h1 {
  line-height: 35px;
  text-align: end;
}
.category-parent img{
  width: 350px;
  height: 380px;
  object-fit: cover;
}
.category-parent{
  position: relative;
}
.category-child{
  position: absolute;
  margin-left: -400px;
  margin-top: 250px;
}
.category-right .category-child{
  width: 180px;
  height: 180px;
}
/* 2 */
.category-title-2{
  background-image: linear-gradient(#F948B2,#8758F1); 
  background-clip: text ;
  color: transparent;
}
.category-left-2 p{
 color: rgba(83, 76, 100, 1);
 font-size: 0.7rem;
 line-height: 20px;
 margin-top: 10px;
}
.category-left-2 h1{
  line-height: 35px;
}
.category-games-2{
  margin-top: 0px;
}
.category-main-2{
  display: flex;
  align-items: center;
  padding: 20px 0;
  max-width: 1000px;
  margin: 0 auto;
  float:left;
}
.category-right-2{
  width: 55%;
  margin-left: 140px;
}
.category-right-2 img {
  width: 100%;
}
.category-left-2{
  width: 30%;
}
.category-parent-2 img{
  width: 350px;
  height: 380px;
  object-fit: cover;
}
.category-parent-2{
  position: relative;
}
.category-child-2{
  position: absolute;
  margin-left: -100px;
  margin-top: 250px;
}
.category-right-2 .category-child-2{
  width: 180px;
  height: 180px;
}
/* careers styles */
.careers-section{
  background-image: linear-gradient(rgba(255, 66, 165, 1),rgba(255, 66, 165, 1));
  color: white;
}
.careers-container{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  max-width: 1000px;
  margin: 0 auto 100px;
  margin-top: 1200px;
  margin-bottom: 0;
}
.careers-text{
  font-size: 0.7rem;
  margin-top: 20px;
  line-height: 20px;
  color:rgba(255, 255, 255, 1);
}
.career-left{
  width: 50%;
}
.career-left h1{
  margin-top: 70px;
}
.parts{
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  line-height: 20px;
  margin-top: 20px;
}
.career-right{
  width: 50%;
}
.career-right img{
  width: 100%;
  margin-left: 140px;
}
.career-btn{
  border: none;
  background-color: white;
  color: #F948B2;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 20px;
}
/* cartoon-icons */
.icon-section{
  background-image: linear-gradient(rgba(255, 66, 165, 0.03),rgba(255, 66, 165, 0.03));
  margin-top: 0;
}

.icons-container{
 display: grid;
 grid-template-columns: repeat(5,1fr);
 gap: 20px;
 align-items: center;
  padding: 20px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.icon-btn-1{
  display: flex;
  align-items: center;
  border: none;
  padding: 5px 10px;
  border-radius: 75px;
  background-color: white;
  font-size: 0.7rem;
}
.icon-btn-1 img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
/* .icons-container-2{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  align-items: center;
  padding-bottom: 40px;
  width: 900px;
  max-width: 1000px;
  margin: 0 auto 100px;
 } */
 .btn-3{
  border: 1px solid rgba(255, 66, 165, 1);
  color: rgba(255, 66, 165, 1);
 } 
/* footer section */
footer{
  background-color: rgba(11, 2, 35, 1);
}
.container{
  width: 500px;
  height: auto;
  margin-top: 40px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.8rem;
  color:rgba(255, 255, 255, 1);
}
.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.footer-logo img{
  width: 40px;
  height: 20px;
  margin-right: 20px;
  margin-left: -40px;
}
.footer-logo h2{
  font-size: 1.5rem;
}
.footer-info{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  font-size: 0.7rem;
}
.footer-part{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7rem;
}
.logos {
margin-top: 30px;
margin-left: 100px;
}
.logo{
  margin-right: 20px;
}
.last-text{
  margin-top: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 50px;
  font-size: 0.7rem;
}

@media screen and (max-width: 576px) {
  .nav-container{
    box-shadow: none;
    margin-top: 20px;
  }
  .nav-main{
      flex-direction: column;
      width: 100%;
      height: auto;
  }
  .nav-right{
      flex-direction: column;
  }
  .nav-right button{
     margin-top: 20px;
  }
/* header */
.header-main{
  flex-direction: column-reverse;
}
.header-left , .header-right{
  width: 80%;
}
.header-container{
  background-image: none;

}
.header-left{
  background-image: url(images/Group.png);
  background-repeat: no-repeat;
  margin-top: 30px;
  padding: 40px;
  width: 80%;
}
.goat{
  margin: 5px;
  font-size: 2rem;
}
.header-left-description{
  font-size: 1rem;
}
.header-left-description p{
  font-size: 12px;
}
.header-btn-1 , .header-btn-2 {
  margin-top: 10px;
}
.gamer-container{
  flex-direction: column;
}
.gamer-section{
  background-image: none;
}
.gamer-left{
  width: 100%;
}
.gamer-left img{
  width: 100%;
}
.gamer-right{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.gamer-btn{
  margin-top: 20px;
  margin-bottom: 30px;
}
.purpose{
  color:rgba(83, 76, 100, 1);
}
.theory{
 margin-top: 10px;
}
/*  */
.online-section{
  max-width: 1000px;
  margin: 0 auto;
  padding:20px 0;;
}
.online-game-title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.online-gamer-description{
 text-align: center;
 color: rgba(83, 76, 100, 1);
 font-size: 0.7rem;
 margin-bottom: 30px;
}
.online-game-container{
flex-direction: column;
}
.online-game{
  width: 235px;
  height: 200px;
  margin-bottom: 130px;
  margin-left: 90px;
  text-align: center;
}
.online-game img{
 width: 100%;
}
.play-game{
  filter: brightness(45%);
}
.parents{
  position: relative;
}
.child{
  position: absolute;
  margin-top: -150px;
  margin-left: 80px;
 color: rgba(255, 66, 165, 1);
 text-align: center;
 font-size: 1rem;
}
.child i{
  color: whitesmoke;
  margin-bottom: 10px;
}
.online-game-text{
  color: rgba(83, 76, 100, 1);
  font-size: 0.7rem;
  margin-top: 10px;
}
/* category's */
.category-left p{
 color: rgba(83, 76, 100, 1);
 font-size: 0.7rem;
 margin-top: 10px;
 line-height: 20px;
 text-align: center;
 margin-left: 50px;
 margin-right: 50px;
}
.category-left h1{
  text-align: center;
}
.category-games{
  margin-top: 50px;
}
.category-main{
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  max-width: 1000px;
  margin: 0 auto 100px;
  float: none;
}
.category-right{
  width: 100%;

}
.category-right img {
  width: 100%;
}
.category-left{
  width: 100%;
}
.category-left h1 {
  line-height: 35px;
  text-align: none;
}
.category-parent img{
  width: 230px;
  height: 320px;
  object-fit: cover;
}
.category-parent{
  position: relative;
  margin-left: 100px;
  margin-top: 20px;
}
.category-child{
  position: absolute;
  margin-left: -300px;
  margin-top: 250px;
}
.category-right .category-child{
  width: 120px;
  height: 120px;
}


.category-left-2 p{
  color: rgba(83, 76, 100, 1);
  font-size: 0.7rem;
  margin-top: 10px;
  line-height: 20px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
 }
 .category-left-2 h1{
   text-align: center;
 }
 .category-games-2{
   margin-top: 50px;
 }
 .category-main-2{
   flex-direction: column-reverse;
   align-items: center;
   padding: 20px 0;
   max-width: 1000px;
   margin: 0 auto 100px;
   float: none;
 }
 .category-right-2{
   width: 100%;
 
 }
 .category-right-2 img {
   width: 100%;
 }
 .category-left-2{
   width: 100%;
 }
 .category-left-2 h1 {
   line-height: 35px;
   text-align: none;
 }
 .category-parent-2 img{
   width: 230px;
   height: 320px;
   object-fit: cover;
 }
 .category-parent-2{
   position: relative;
   margin-left: 45px;
   margin-top: 20px;
 }
 .category-child-2{
   position: absolute;
   margin-left: -60px;
   margin-top: 250px;
 }
 .category-right-2 .category-child-2{
   width: 120px;
   height: 120px;
 }
 /* career */

 .careers-container{
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto ;
  
}
.careers-text{
  font-size: 0.6rem;
  margin-top: 20px;
  line-height: 20px;
  color:rgba(255, 255, 255, 1);
}
.career-left{
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;

}
.career-left h1{
  margin-top: 70px;
}
.parts{
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  line-height: 20px;
  margin-top: 20px;
}
.career-right{
  width: 100%;
}
.career-right img{
  width: 100%;
  margin-left: 0px;
  padding: 20px;
}
.career-btn{
  border: none;
  background-color: white;
  color: #F948B2;
  padding: 8px 15px;
  border-radius: 25px;
  margin-top: 20px;
}
/* cartoon-icons */
.icons-container{
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  padding: 40px;
  
}
.icon-btn-1 img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.icon-btn-1{
  font-size: 0.5rem;
}
/* footer */
.container{
  width: 300px;
  height: auto;
  margin-top: 40px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1rem;
  color:rgba(255, 255, 255, 1);
  margin-left: 90px;
}
.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 45px;
}
.footer-logo img{
  width: 40px;
  height: 20px;
  margin-right: 20px;
  margin-left: -30px;
}
.footer-logo h2{
  font-size: 1.5rem;
}
.footer-info{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  font-size: 0.5rem;
}
.footer-part{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.6rem;
}
.logos {
margin-top: 30px;
margin-left: 20px;
}
.logo{
  margin-right: 20px;
}
.last-text{
  margin-top: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 50px;
  font-size: 0.8rem;
  margin-right: 60px;

}


}